name: Test and Build

on:
  push:
    tags:
      - '*.*.*'

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Publish to NPM
        run: |
          npm version $(echo ${GITHUB_REF#refs/tags/}) --no-git-tag-version
          npm publish --provenance --access public

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          draft: false